@model Shop4U.Models.Branches

@{
    ViewData["Title"] = "הצגת סניף";
}

<h1 align="center">הצגת סניף</h1>

<div align="right" dir="rtl">
    <hr />

    <dl class="row">


        <dt class="col-sm-2">
            שם הסניף
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.branch_name)
        </dd>
    </dl>

    <dl class="row">


        <dt class="col-sm-2">
            כתובת הסניף
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.branch_address)
        </dd>
    </dl>
    <dl class="row">


        <dt class="col-sm-2">
            מנהל הסניף
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.branch_owner)
        </dd>
    </dl>

    <dl class="row">


        <dt class="col-sm-2">
            קו רוחב
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.branch_lat)
        </dd>
    </dl>


    <dl class="row">


        <dt class="col-sm-2">
           קו אורך
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.branch_lng)
        </dd>
    </dl>







</div>
<div align="right" style="font-weight:700;">
    <a asp-action="Edit" asp-route-id="@Model.branch_Id">ערוך</a> |
    <a asp-action="Index">חזרה לתצוגת סניפים</a>
</div>

